body {
    font-family: "Montserrat";
}
h1 {
    font-family:"Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}
h2 {
    font-family: "Montserrat-bold";
    font-size: 3.5rem;
}
h3 {
    font-family: "Montserrat-bold";
    font-weight: 800;
}

p {
    color: #8f8f8f;
}


.container {
    padding:5% 15%;
}
#title {
    background-color: #ff4c68;
    color:#fff;
    
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    
}
.navbar-link{
    font-family: "Montserrat-light";
    font-size:1.2rem;
}
.download-button {
    margin:5% 3% 5% 0;
}

.navbar {
    padding:0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "Montserrat-light";
    font-size: 1.2rem;
}

.title-img {
    width:50%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}

.features {
    text-align: center;
}

.features-section {
    text-align: center;
    padding:5%
}

#features {
    background-color: white;
    padding:7% 15%;
    position:relative;
}






.icon {
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color:#ff4c68;
}

#testimonials {
    background-color: #ef8172;
    color:#fff;
}



.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin:20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo {
    width:15%;
    margin:20px;
}

.carousel-item {
     padding:7% 15%;
}

#pricing {
    padding: 100px;
    text-align: center;    
}

.pricing-column {
    padding: 3% 2%;
}

.container-fluid {
    padding: 3% 5% 12%;
}

@media (max-width:992px){
    #title{
        text-align: center; 
    }
    .title-img{
        position: static;
        transform: rotate(0);
    }
}
#cta {
    background-color: #ff4c68;
    padding:7% 15%;
    text-align: center;
    color:#fff;
}

.cta-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin:20px 10px;
}
